@model IEnumerable<Diksha.Models.Customer>
    @{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <h2>Customers list</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Customer</th>
            </tr>
        </thead>
        @foreach (var customers in Model)
        {
            <tbody>
                <tr>
                    <td><a href="/Customer/Details?ID=@customers.ID">@customers.Name</a> </td>
                </tr>
            </tbody>
        }

    </table>

